<!-- <h1>Cocktails</h1>

<p><%#= link_to 'Create new cocktail', 'cocktails/new' %></p>

<ul>
  <%# @cocktails.each do |cocktail| %>
    <%#= link_to cocktail.name, cocktail_path(cocktail) %></li>
  <%# end %>
</ul> -->

<div class="home-banner">
  <h3 class="row justify-content-center">Welcome to</h3>
  <h1 class="row justify-content-center">Snape's Potions lab</h1>
  <div class="row justify-content-center">
    <div class="row justify-content-center col-6">
      <p class="row justify-content-center"><%= link_to 'Create new cocktail', 'cocktails/new' %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="cards">
    <ul>
      <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail.name, cocktail_path(cocktail) %></li>
      <% end %>
    </ul>
  </div>
</div>

<!-- <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
-->
