<div class="home-banner">
  <i class="w-25 h-25 row justify-content-center"><%= image_tag "noun_potion_1044753.png"%></i>
  <h3 class="row justify-content-center">Welcome to</h3>
  <h1 class="row justify-content-center">Snape's Potions lab</h1>
  <div class="row justify-content-center">
    <div class="row justify-content-center col-6">
      <p class="row justify-content-center"><%= link_to 'Create new cocktail', 'cocktails/new' %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="cards">
    <ul>
      <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail.name, cocktail_path(cocktail) %></li>
      <% end %>
    </ul>
  </div>
</div>
